<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.desl.androidstudy">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--##################################################################-->
        <!--$$$$$$$$$$$$$$$$    1.书目录   $$$$$$$$$$$$$$$$-->
        <activity android:name=".BookCatalog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--##################################################################-->
        <!--$$$$$$$$$$$$$$$$    1.章节目录   $$$$$$$$$$$$$$$$-->
        <!--第一本书章节目录#####################################################-->
        <activity android:name=".Book1.Book1ChapterDirectory">
            <intent-filter>
                <action android:name="book1_chapter_directory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--第二本书章节目录#####################################################-->
        <activity android:name=".Book2.Book2ChapterDirectory">
            <intent-filter>
                <action android:name="book2_chapter_directory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--音悦台#####################################################-->
        <activity android:name=".android.ILoveMusicApp">
            <intent-filter>
                <action android:name="music_down_yinyuetai" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--音悦台播放-->
        <activity
            android:name=".android.AndroidPlayer"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android_player" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--RxJava框架#####################################################-->
        <!--章节目录-->
        <activity android:name=".RxJava.RxJavaChapterDirectory">
            <intent-filter>
                <action android:name="RxJava_Chapter_Directory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--RxJavaSimple框架#####################################################-->
        <activity android:name=".RxJavaSimple.MainActivity">
            <intent-filter>
                <action android:name="RxJavaSimple_Chapter_Directory" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--SimpleRetrofit2_01示例#####################################################-->
        <activity android:name=".Simple.Retrofit2_01.GitHubMain">
            <intent-filter>
                <action android:name="Simple_Retrofit2_01_GitHubMain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--SimpleRetrofit2_02示例#####################################################-->
        <activity android:name=".Simple.Retrofit2_02.MusicMain">
            <intent-filter>
                <action android:name="Simple_Retrofit2_02_YinYueTai_Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--第一章-->
        <activity android:name=".RxJava.Chapter01.RxJava_Chapter01_Main">
            <intent-filter>
                <action android:name="RxJava_Chapter01_Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--第一本书-->
        <!--1.1.第三章目录-->
        <activity android:name=".Book1.Chapter03.Book1_Chapter03_Main">
            <intent-filter>
                <action android:name="Book1_Chapter03_Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--1.4 第四章目录-->
        <activity android:name=".Book1.Chapter04.Book1_Chapter04_Main">
            <intent-filter>
                <action android:name="Book1_Chapter04_Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->

        <!--1.2.3第三章内容-->
        <!--示例 1-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_01">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_01" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 2-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_02">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_02" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 3-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_03">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_03" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 4-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_04">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_04" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 5-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_05">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_05" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 6-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_06">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_06" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 7-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_07">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_07" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--示例 8-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_08">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_08" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例 9-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_09">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_09" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例10-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_01_10">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_10" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例11-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_11">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_11" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例12-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_12">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_12" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例13-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_13">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_13" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例14-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_14">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_14" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--示例15-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_15">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_15" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例16-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_16">
            <intent-filter>
                <action android:name="Book1_Chapter03_01_16" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例17 Spinner的使用-->
        <activity android:name=".Book1.Chapter03.SL03_05.Chapter03_03_17">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_17" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--示例18 列表视图-->
        <activity android:name=".Book1.Chapter03.SL03_06.Chapter03_03_18">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_18" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例19 列表视图复选效果-->
        <activity android:name=".Book1.Chapter03.SL03_06.Chapter03_03_19">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_19" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例20-->
        <activity android:name=".Book1.Chapter03.SL03_06.Chapter03_03_20">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_20" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--示例21-->
        <activity android:name=".Book1.Chapter03.SL03_07.Chapter03_03_21">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_21" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例22-->
        <activity android:name=".Book1.Chapter03.SL03_08.Chapter03_03_22">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_22" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例23-->
        <activity android:name=".Book1.Chapter03.SL03_09.Chapter03_03_23">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_23" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例24-->
        <activity android:name=".Book1.Chapter03.SL03_10.Chapter03_03_24">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_24" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例25-->
        <activity android:name=".Book1.Chapter03.SL03_11.Chapter03_03_25">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_25" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--示例25-->
        <activity android:name=".Book1.Chapter03.SL03_12.Chapter03_03_26">
            <intent-filter>
                <action android:name="Book1_Chapter03_03_26" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--4.4.1-->
        <!--示例01-->
        <activity android:name=".Book1.Chapter04.SL04_04_01.Chapter04_04_01">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_01" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--4.4.2-->
        <activity android:name=".Book1.Chapter04.SL04_04_02.Chapter04_04_02">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_02" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.4.3-->
        <!--示例03-->
        <activity android:name=".Book1.Chapter04.SL04_04_03.Chapter04_04_03">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_03" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.4.4-->
        <!--示例04-->
        <activity android:name=".Book1.Chapter04.SL04_04_04.Chapter04_04_04">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_04" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.4.5-->
        <!--示例05-->
        <activity android:name=".Book1.Chapter04.SL04_04_05.Chapter04_04_05">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_05" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.4.6-->
        <!--示例06-->
        <activity android:name=".Book1.Chapter04.SL04_04_06.Chapter04_04_06">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_06" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.4.7-->
        <!--示例07-->
        <activity android:name=".Book1.Chapter04.SL04_04_07.Chapter04_04_07">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_07" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.8 画廊视图-->
        <!--示例08-->
        <activity android:name=".Book1.Chapter04.SL04_04_08.Chapter04_04_08">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_08" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--4.1.9 显示在标题上的进度条-->
        <!--示例09-->
        <activity android:name=".Book1.Chapter04.SL04_04_09.Chapter04_04_09">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_09" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.10 幻灯片式图片浏览器-->
        <!--示例10-->
        <activity android:name=".Book1.Chapter04.SL04_04_10.Chapter04_04_10">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_10" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.11 使用Toast显示消息提示框-->
        <!--示例11-->
        <activity android:name=".Book1.Chapter04.SL04_04_11.Chapter04_04_11">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_11" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.12使用Notification在状态栏上显示通知-->
        <!--示例12-->
        <activity android:name=".Book1.Chapter04.SL04_04_12.Chapter04_04_12">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_12" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Book1.Chapter04.SL04_04_12.Chapter04_04_12_ContentActivity"
            android:label="详细内容"
            android:theme="@android:style/Theme.Dialog" />

        <!--4.1.13 使用AlertDialog创建对话框-->
        <!--示例13-->
        <activity android:name=".Book1.Chapter04.SL04_04_13.Chapter04_04_13">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_13" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.14 询问是否退出的对话框-->
        <!--示例14-->
        <activity android:name=".Book1.Chapter04.SL04_04_14.Chapter04_04_14">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_14" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.15带图标的列表对话框-->
        <!--示例15-->
        <activity android:name=".Book1.Chapter04.SL04_04_15.Chapter04_04_15">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_15" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--4.1.16实现访Windows 7图片预览窗格效果-->
        <!--示例16-->
        <activity android:name=".Book1.Chapter04.SL04_04_16.Chapter04_04_16">
            <intent-filter>
                <action android:name="Book1_Chapter04_04_16" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->


        <!--##################################################################-->
        <!--第二本书 疯狂Android-->
        <!--第二章内容-->
        <!--1.1.第二章目录-->
        <activity android:name=".Book2.Chapter02.Book2_Chapter02_Main">
            <intent-filter>
                <action android:name="Book2_Chapter02_Main" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->

        <!--第二章示例内容-->
        <activity android:name=".Book2.Chapter02.SL2_2.Demo01_CodeView.Chapter02_02_01">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_01" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo02_MixView.Chapter02_02_02">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_02" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo03_CustomView.Chapter02_02_03">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_03" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo04_LinearLayoutTest.Chapter02_02_04">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_04" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo05_TableLayoutTest.Chapter02_02_05">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_05" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo06_FrameLayoutTest.Chapter02_02_06">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_06" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Book2.Chapter02.SL2_2.Demo07_FrameLayoutTest.Chapter02_02_07">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_07" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--实例计算器-->
        <activity android:name=".Book2.Chapter02.SL2_2.Demo08_GridLayoutTest.Chapter02_02_08">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_08" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity android:name=".Book2.Chapter02.SL2_2.Demo09_AbsoluteLayoutTest.Chapter02_02_09">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_09" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--不同颜色、字体、带下划线-->
        <activity android:name=".Book2.Chapter02.SL2_2.Demo10_TextViewTest.Chapter02_02_10">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_10" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--不同颜色、字体、带下划线-->
        <activity android:name=".Book2.Chapter02.SL2_2.Demo11_TextViewTest2.Chapter02_02_11">
            <intent-filter>
                <action android:name="Book2_Chapter02_02_11" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################################-->
        <!--codes_02_2.3-->
        <!--用户友好的输入界面-->
        <activity android:name=".Book2.Chapter02.SL2_3.Demo12_InputUI.Chapter02_02_01">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_01" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--用户友好的输入界面-->
        <activity android:name=".Book2.Chapter02.SL2_3.Demo13_ButtonTest.Chapter02_03_02">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_02" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--用户友好的输入界面-->
        <activity android:name=".Book2.Chapter02.SL2_4.Demo14_CheckButtonTest.Chapter02_03_03">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_03" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--强大的图片按钮-->
        <activity android:name=".Book2.Chapter02.SL2_4.Demo15_ImageButtonTest.Chapter02_03_04">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_04" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--强大的图片按钮-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo16_QuickContactBadgeTest.Chapter02_03_05">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_05" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--改变分隔条、基本数组的ListView-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo17_SimpleListViewTest.Chapter02_03_06">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_06" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--改使用ArrayAdapter创建ListView-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo18_ArrayAdapterTest.Chapter02_03_07">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_07" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--使用SimpleAdapter创建ListView-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo19_SimpleAdapterTest.Chapter02_03_08">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_08" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--P100 扩展BaseAdapter实现不存储列表项的ListView-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo20_BaseAdapterTest.Chapter02_03_09">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_09" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--P104  自动提示-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo21_AutoCompleteText.Chapter02_03_10">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_10" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--P105 带预览的图片浏览器-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo22_GridViewTest.Chapter02_03_11">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_11" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--P107 可展开的列表组件ExpandableListView-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo23_ExpandableListViewTest.Chapter02_03_12">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_12" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--P111 让用户选择-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo24_SpinnerTest.Chapter02_03_13">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_13" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--P112 幻灯片式图片浏览器-->
        <activity android:name=".Book2.Chapter02.SL2_5.Demo25_GallaryTest.Chapter02_03_14">
            <intent-filter>
                <action android:name="Book2_Chapter02_03_14" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--##################################################################-->
        <!--##################################################################-->
        <!--##################################################################-->

        <!--RxJava学习-->

        <activity android:name=".RxJava.Chapter01.Chapter01_03">
            <intent-filter>
                <action android:name="RxJava_Chapter01_01_03" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>
    <!--##################################################################-->

    <!--##################################################################-->
    <!--权限设置-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--添加操作振动器的权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--读写文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>